*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@500&display=swap');

img{
    width: 120px;
    height: 120px;
    margin-left: 50px;

}
body{
    background-color: rgb(224, 250, 252);
    display: flex;
    align-items: center;
    height: 300px;
    font-family: 'Chivo Mono', monospace;
}
main{
    background-color: white;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;
}
.contenedorlogo{
    width: 200px;
    display: flex;
    align-items: center;
}
nav{
    width: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 12px;
}
nav a{
    padding: 15px;
}
main div a{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 15px;
    padding-left: 15px;

}
.register{
    background-color: rgb(113, 113, 252);
    color: white;
    border-radius: 5px;
    font-size: 12px;
    margin-right: 30px;
}
.menugrande{
    width: 50px;
    height: 50px;
}



/* responsive*/

@media (max-width:980px){
    .menu{
        display: none;
    
    }
    .register{
        display: none;
    }
    .signin{
        display: none;
    }
}


@media (min-width:980px){
    .menugrande{
        display: none;
    }
}